- content_for :pagecss do
  - stylesheet_link_tag "home.css"
- content_for :pagejs do
  = javascript_pack_tag 'inbox'
  
= render "common/session_nav"
= render "common/session_left_nav"

.header-spacer
#container.container
