.w-lg-80.text-center.mx-lg-auto.mt-10{:style => "margin-top:150px;"}
  .mb-11
    %h1.display-4.font-weight-semi-bold About Us
    %p.lead.font-weight-normal We're on a mission to simplify your experience in college.

.container.space-2.space-lg-3{:style => "margin-top:50px;"}
  / Title
  .w-md-80.w-lg-60.text-center.mx-md-auto.mb-9{:style => "margin-bottom:50px;"}
    %h2.h3.font-weight-semi-bold Created by people like you.
  / End Title
  .row.mx-n2.mb-5
    .col-sm-6.col-lg-3.px-2.mb-3
      / Team
      .card.shadow.transition-3d-hover.p-4{:style => "text-align: center;"}
        .u-lg-avatar.mb-4
          %img.img-fluid{:alt => "Image Description", :src => "img/vineet.jpg", :style=>"width:100px;"}/
        %small.d-block.text-secondary.text-uppercase.mb-1 Co-Founder
        %h4.h5.text-lh-sm
          %a.text-primary{:href => "https://www.facebook.com/vineet.vashist", :target=>"_blank"} Vineet Vashist
        / End Social Networks
      / End Team
    .col-sm-6.col-lg-3.px-2.mb-3
      / Team
      .card.shadow.transition-3d-hover.p-4{:style => "text-align: center;"}
        .u-lg-avatar.mb-4
          %img.img-fluid{:alt => "Image Description", :src => "img/mukunda.jpg", :style=>"width:100px;"}/
        %small.d-block.text-secondary.text-uppercase.mb-1 Co-Founder
        %h4.h5.text-lh-sm
          %a.text-primary{:href => "https://www.facebook.com/lonew01f", :target=>"_blank"} Mukunda Gogoi
        / End Social Networks
    .col-sm-6.col-lg-3.px-2.mb-3
      / Team
      .card.shadow.transition-3d-hover.p-4{:style => "text-align: center;"}
        .u-lg-avatar.mb-4
          %img.img-fluid{:alt => "Image Description", :src => "img/chitrak2.jpg", :style=>"width:100px;"}/
        %small.d-block.text-secondary.text-uppercase.mb-1 Co-Founder
        %h4.h5.text-lh-sm
          %a.text-primary{:href => "https://www.facebook.com/chitraksatyarthi", :target=>"_blank"} Chitrak Satyarthi
        / End Social Networks
    .col-sm-6.col-lg-3.px-2.mb-3
      / Team
      .card.shadow.transition-3d-hover.p-4{:style => "text-align: center;"}
        .u-lg-avatar.mb-4
          %img.img-fluid{:alt => "Image Description", :src => "img/bhagat.jpg", :style=>"width:100px;"}/
        %small.d-block.text-secondary.text-uppercase.mb-1 Co-Founder
        %h4.h5.text-lh-sm
          %a.text-primary{:href => "https://www.facebook.com/unclebiscuits", :target=>"_blank"} Abhishek Bhagat
        / End Social Networks
      / End Team