<% content_for :pagecss do %>
    <% stylesheet_link_tag "index/index.css" %>
<% end %>

<!-- <div class="content-bg-wrap"></div> -->

<%= render "header" %>

<div class="container">
	<div class="row display-flex">

		<div class="col col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12 offset-md-3">
      <%= render "login_form" %>
    </div>
	</div>
</div>
