<% content_for :pagecss do %>
    <% stylesheet_link_tag "index/index.css" %>
<% end %>

<div class="content-bg-wrap"></div>

<%= render "header" %>

<div class="container">
	<div class="row display-flex">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <%= render "welcome" %>
		</div>

		<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
            <%= render "login_form" %>
        </div>
	</div>
</div>
