.active-loader {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.form-control:focus {
  border-color: #37a9ff;
}

.note-btn {
  color: #525466;
  border: 1px solid #e6e6e6;
}

.blog-post-div-transform {
  z-index: 1050;
  position: fixed;
  width: 900px;
  left: 50%;
  margin-left: -450px;
}

#blog-editor {
  display: none;
}

.submit-blog {
  float: right;
  top: 7px;
  right: 10px;
}

.close-blog-dialog {
  right: 20px;
  float: right;
  top: 7px;
}

.note-toolbar-wrapper {
  height: auto;
}

.note-popover .popover-content, .panel-heading.note-toolbar {
  padding: 3px;
}

.overflow-hidden {
  overflow: hidden;
}

.note-popover {
  display: none;
}

.note-btn:hover,
.note-btn:active,
.note-btn:focus {
  color: #525466;
  border: 1px solid #e6e6e6;
}

.blog-black-drop {
  display: none;
  z-index: 1000;
  background: black;
  position: fixed;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
}

.note-editor.note-frame {
  border: 0;
}

.note-editor.note-frame .note-editing-area .note-editable {
  background: #fbfbfb;
}

#site-header {
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(47, 91, 231, 0.1);
}

#site-header .search-bar .selectize-dropdown {
  border: 0;
}

#site-header .control-block .author-title,
.header .page-title > * {
  color: #696969;
}

.fixed-sidebar .logo {
  background-color: #123e7f;
}

.olympus-chat {
  background-color: #38a9ff;
}

.btn-primary {
  background-color: #38a9ff;
  border-color: #38a9ff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.post-control-button .btn-control:hover {
    background-color: #34a1f5;
    border-color: #34a1f5;
}

a:hover,
a:active,
a:focus,
.more-dropdown a:hover,
.more-dropdown a:focus,
.more-dropdown a:active,
.post-add-icon:hover span {
  color: #34a1f5;
}

.news-feed-form .nav-tabs .nav-link.active,
.left-menu a:hover svg,
.fixed-sidebar .search-friend svg:hover,
.post-add-icon:hover {
  fill: #37a9ff;
}

.notification-list .notification-link {
  color: #37a9ff;
}

.control-icon.has-items {
  fill: #6a6d87;
}

.search-bar.w-search {
  background-color: #fff;
}

.search-bar .form-group.with-button button {
  background-color: #edf2f6;
}

.background-dark-times {
  background: #3f4257;
  padding: 150px;
}

.landing-page .content-bg-wrap:before {
  background-color: rgb(55, 169, 255);
  opacity: 0.9;
}

.active-loader .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.active-loader .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.active-loader .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.active-loader .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.active-loader .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.active-loader .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.active-loader .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.active-loader .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.active-loader .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.active-loader .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.ph-item {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
}

.left-sm {
  width: 250px;
  overflow-x: hidden;
  padding: 15px 15px 0px 15px;
  margin: 0;
  margin-left: 16px;
}

.post-button-loader img,
.comment-button-loader img {
  width: 10px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.song-dedication-ui .ui-block-title .title {
  margin-bottom: 0;
  display: block;
  vertical-align: middle;
  height: 0;
}

.song-dedication-ui .c-green svg {
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 15px;
}

.song-dedication-ui .composition {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-dedication-ui ol,
.w-activity-feed.notification-list {
  max-height: 324px;
  overflow-y: scroll;
}

.song-dedication-ui .composition-name {
  display: inline;
}

.song-dedication-ui .playlist-thumb img {
  height: 34px;
}

#song-dedication-modal .olymp-check-icon,
#confession-modal .olymp-check-icon {
  fill: #1dd760;
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

#song-dedication-modal .success-message,
#confession-modal .olymp-check-icon {
  font-size: 15px;
}

.popup-chat-responsive ul {
  max-height: 250px !important;
  min-height: 250px !important;
  overflow-y: scroll !important;
  padding: 10px 0 10px;
}

.ui-user-status {
  text-transform: uppercase;
}

#search-bar .chat-message-item {
  color: #5b5e6e;
}

.popup-chat-responsive {
  transform: none;
  top: auto;
  bottom: 5px;
  max-height: 400px;
}

.fixed-sidebar.right .mCustomScrollbar {
  max-height: calc(100vh - 240px);
}

.popup-chat .chat-message-field li.outgoing .author-thumb {
  float: right !important;
}

.popup-chat .chat-message-field li.outgoing .notification-event {
  float: right !important;
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.popup-chat .chat-message-field li.outgoing {
  padding: 0;
}

.popup-chat .modal-header {
  background-color: #edf2f6 !important;
  padding: 8px;
}

.popup-chat .modal-header .title {
  color: inherit;
  font-size: 13px;
}

.popup-chat .more {
  fill: #7b7b7b;
}

.popup-chat .chat-message-field li.outgoing .chat-message-item {
  float: right !important;
}

.popup-chat .chat-message-field li.outgoing .chat-message-item {
  background-color: #319dfc !important;
  color: #fff !important;
  border-radius: 10px;
  padding: 8px;
}

.popup-chat .chat-message-field li.incoming .author-thumb {
  float: left !important;
}

.popup-chat .chat-message-field li.incoming .notification-event {
  float: left !important;
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.popup-chat .chat-message-field li.incoming .chat-message-item {
  float: left !important;
  border-radius: 10px;
  padding: 8px;
}

.popup-chat .chat-message-field li.incoming .chat-message-item {
  background-color: #f0f4f9 !important;
  color: inherit;
  margin-left: 20px;
}

.author-thumb.status-div img {
  background: #26547C;
}

.author-thumb img {
  background: #26547C;
  width: 36px;
  height: 36px;
}

.post__author img {
  background: #26547C;
}

.image-profile-main {
  width: 124px !important;
  height: 124px !important;
}

.post-image-upload-preview img {
  margin-left: 15px;
  border-radius: 3px;
  border: 2px solid #39a9ff;
}
