.active-loader {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.active-loader .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.active-loader .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.active-loader .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.active-loader .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.active-loader .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.active-loader .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.active-loader .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.active-loader .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.active-loader .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.active-loader .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.ph-item {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e6ecf5;
}

.left-sm {
  width: 250px;
  overflow-x: hidden;
  padding: 15px 15px 0px 15px;
  margin: 0;
  margin-left: 16px;
}

.post-button-loader img,
.comment-button-loader img {
  width: 10px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.song-dedication-ui .ui-block-title .title {
  margin-bottom: 0;
  display: block;
  vertical-align: middle;
  height: 0;
}

.song-dedication-ui .c-green svg {
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 15px;
}

.song-dedication-ui .composition {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-dedication-ui ol,
.w-activity-feed.notification-list {
  max-height: 324px;
  overflow-y: scroll;
}

.song-dedication-ui .composition-name {
  display: inline;
}

.song-dedication-ui .playlist-thumb img {
  height: 34px;
}

#song-dedication-modal .olymp-check-icon,
#confession-modal .olymp-check-icon {
  fill: #1dd760;
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

#song-dedication-modal .success-message,
#confession-modal .olymp-check-icon {
  font-size: 15px;
}

.popup-chat-responsive ul {
  max-height: 250px !important;
  min-height: 250px !important;
  overflow-y: scroll !important;
}

.ui-user-status {
  text-transform: uppercase;
}

#search-bar .chat-message-item {
  color: #5b5e6e;
}

.popup-chat-responsive {
  bottom: -100px !important;
  top: auto !important;
}

.popup-chat .chat-message-field li.outgoing .author-thumb {
  float: right !important;
}

.popup-chat .chat-message-field li.outgoing .notification-event {
  float: right !important;
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.popup-chat .chat-message-field li.outgoing .chat-message-item {
  float: right !important;
}

.popup-chat .chat-message-field li.outgoing .chat-message-item {
  background-color: #7c5ac2 !important;
  color: #fff !important;
}

.popup-chat .chat-message-field li.incoming .author-thumb {
  float: left !important;
}

.popup-chat .chat-message-field li.incoming .notification-event {
  float: left !important;
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.popup-chat .chat-message-field li.incoming .chat-message-item {
  float: left !important;
}

.popup-chat .chat-message-field li.incoming .chat-message-item {
  background-color: #f0f4f9 !important;
  color: inherit;
  margin-left: 20px;
}

.author-thumb.status-div img {
  background: #26547C;
}

.author-thumb img {
  background: #26547C;
  width: 36px;
  height: 36px;
}

.post__author img {
  background: #26547C;
}

.image-profile-main {
  width: 124px !important;
  height: 124px !important;
}

.post-image-upload-preview img {
  margin-left: 15px;
  border-radius: 3px;
  border: 2px solid #39a9ff;
}
