.post-button-loader img,
.comment-button-loader img {
  width: 10px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

#song-dedication-modal .olymp-check-icon {
  fill: #1dd760;
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

#song-dedication-modal .success-message {
  font-size: 15px;
}

.popup-chat-responsive ul {
  max-height: 250px !important;
  min-height: 250px !important;
  overflow-y: scroll !important;
}

.ui-user-status {
  text-transform: uppercase;
}

#search-bar .chat-message-item {
  color: #5b5e6e;
}

.popup-chat-responsive {
  bottom: -100px !important;
  top: auto !important;
}

.popup-chat .chat-message-field li.outgoing .author-thumb {
  float: right !important;
}

.popup-chat .chat-message-field li.outgoing .notification-event {
  float: right !important;
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.popup-chat .chat-message-field li.outgoing .chat-message-item {
  float: right !important;
}

.popup-chat .chat-message-field li.outgoing .chat-message-item {
  background-color: #7c5ac2 !important;
  color: #fff !important;
}

.popup-chat .chat-message-field li.incoming .author-thumb {
  float: left !important;
}

.popup-chat .chat-message-field li.incoming .notification-event {
  float: left !important;
  padding-left: 0 !important;
  padding-right: 10px !important;
}

.popup-chat .chat-message-field li.incoming .chat-message-item {
  float: left !important;
}

.popup-chat .chat-message-field li.incoming .chat-message-item {
  background-color: #f0f4f9 !important;
  color: inherit;
  margin-left: 20px;
}

.author-thumb.status-div img {
  background: #26547C;
}

.author-thumb img {
  background: #26547C;
  width: 36px;
  height: 36px;
}

.post__author img {
  background: #26547C;
}

.image-profile-main {
  width: 124px !important;
  height: 124px !important;
}

.post-image-upload-preview img {
  margin-left: 15px;
  border-radius: 3px;
  border: 2px solid #39a9ff;
}
