<% content_for :pagecss do %>
  <% stylesheet_link_tag "home.css" %>
<% end %>

<% content_for :pagejs do %>
  <%= javascript_pack_tag 'profile' %>
<% end %>

<%= render "common/session_nav" %>

<div class="header-spacer"></div>

<div id="container" class="container"></div>
