/ Fixed Sidebar Right
.fixed-sidebar.right
  #sidebar-right.fixed-sidebar-right.sidebar--small
    .mCustomScrollbar{"data-mcs-theme" => "dark"}
      %ul.chat-users
    .search-friend.inline-items
      %a.js-sidebar-open{:href => "#"}
        %svg.olymp-menu-icon
          %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-menu-icon"}
    %a.olympus-chat.inline-items.js-chat-open{:href => "#"}
      %svg.olymp-chat---messages-icon
        %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"}

/Templates
%script#chat-user-template{:type => "text/x-handlebars-template"}
  %li.inline-items.js-chat-open.open-chat{"data-user-id" => "{{user_id}}", "data-name" => "{{name}}", :title => "{{name}}"}
    .author-thumb
      %img.avatar{:alt => "author", :src => "{{profile_picture}}"}/
      %span.icon-status.online

%script#chat-pop-up{:type => "text/x-handlebars-template"}
  .ui-block.popup-chat.popup-chat-responsive{"data-chat-id"=>"{{chat_id}}", "data-user-id"=>"{{user_id}}"}
    .modal-content
      .modal-header
        %span.icon-status.online
        %h6.title {{name}}
        .more
          %svg.olymp-little-delete.js-chat-open.close-chat
            %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-little-delete"}
      .modal-body
        .mCustomScrollbar
          %ul.notification-list.chat-message.chat-message-field


        %form.need-validation
          .form-group.label-floating.is-empty
            %label.control-label Press enter to send ...
            %textarea.form-control.text-chat-message{:placeholder => ""}
            .add-options-message
              %a.options-message{:href => "#"}
                %svg.olymp-computer-icon
                  %use{"xlink:href" => "/svg-icons/sprites/icons.svg#olymp-computer-icon"}

%script#chat-incoming{:type => "text/x-handlebars-template"}
  %li.incoming
    .author-thumb
      %img.mCS_img_loaded{:alt => "author", :src => "/img/avatar14-sm.jpg"}/
    .notification-event
      %span.chat-message-item {{message}}

%script#chat-outgoing{:type => "text/x-handlebars-template"}
  %li.outgoing
    .author-thumb
      %img.mCS_img_loaded{:alt => "author", :src => "/img/author-page.jpg"}/
    .notification-event
      %span.chat-message-item {{message}}
